@import url('http://fonts.cdnfonts.com/css/adobe-clean');

body {
    font-family: 'Adobe Clean', sans-serif;
    font-family: 'Adobe Clean Serif', sans-serif;
    font-family: 'Adobe Clean UX', sans-serif;

}

.container {
    background-color: white;
    display: grid;
    height: 100vh;
    grid-template: repeat(3, 33fr) / repeat(3, 33fr);
    grid-template-areas: "sidebar header header"
                         "sidebar gallery gallery"
                         "caontact gallery gallery" ;
}
.sidebar {
    grid-area: sidebar;
    margin: 12%;
}

.header {
    background-color: #f7f5f5;
    grid-area: header;
    display: flex;
    flex-direction: column;
    justify-items: center;
    justify-content: center;
    align-content: center;
    align-items: center;
    padding:7rem 0 7rem 0;
    text-align: center;
    box-sizing: border-box;
}

.gallery {
    grid-area: gallery;
    display: grid;
    grid-template: repeat(2, 50fr) / repeat(2, 50fr);
    justify-content: stretch;
    justify-items: stretch;
    align-content: stretch;
    align-items: stretch;
}
.sidebar-items {
    display: flex;
    flex-direction: column;
}
img {
    width: 99%;
    margin: 0.2rem 0 0.2rem 0;
}
span {

    color: rgb(65, 87, 109);
}
a:link {
    text-decoration: none;
    margin:0.5rem 0 0.5rem 0;
}
.contact{
    grid-area: contact;
    padding-left: 10px ;
}
.icon {
    width: 4%;
    background-color: lavender;
    padding: 7px;
    border-radius: 100%;
    display: inline;
}
.header-text {
    width: 75%;
    font-size: 30px;
}
.header-subtext {
    font-size: 16px;
    font-weight: normal;
}
.menu{
    visibility: hidden;
}

@media screen and (max-width: 500px) {
    .container {
        display: grid;
        grid-template: repeat(10, 12.5fr) / 100% ;
        grid-template-areas: "header" "header" "header" "header" "gallery" "gallery" "gallery" "gallery";
    }

    .sidebar {
        display: none;
    }
    .gallery {
        grid-area: gallery;
        display: grid;
        grid-template: repeat(4, 50fr) / 100%;
        justify-content: stretch;
        justify-items: stretch;
        align-content: stretch;
        align-items: stretch;
    }


    .icon {
        visibility: visible;
        align-self: flex-end;
        font-size: 30px;
        margin: 5px;
    }
    .header-text {
        width: 75%;
        font-size: 17px;
    }
    .header-subtext {
        font-size: 11px;
        font-weight: normal;
    }
    .menu{
        margin-right: 5px;
        align-self: flex-end;
        visibility: visible;
    }
}
